---
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body>
    <!-- Header -->
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>iBurn 2014</h1>
                        <h3>Offline Map, Camps, Art and Events for Burning Man</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline app-download-buttons">
                            <li>
                                <a href="https://itunes.apple.com/us/app/iburn-2013-burning-man-map/id388169740"><img src="img/appstore.svg" height="40px" alt="iBurn on iOS App Store"></a>
                            </li>
                            <li>
                                <a href="https://play.google.com/store/apps/details?id=com.gaiagps.iburn"><img src="img/playstore.svg" height="45px" alt="iBurn for Android on Google Play"></a>
                            </li>
                        </ul>
                        <hr class="intro-divider">
                        {% include social_buttons.html list_class="intro-social-buttons" %}
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Offline Map</h2>
                    <p class="lead">Search the map to find anything at Burning Man, or use compass mode to guide yourself around the playa.<br><br>We <a href="https://github.com/burning-man-earth/iburn-maps">make our own map tiles</a> using TileMill.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/ipad.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Browse Events Near You</h2>
                    <p class="lead">A brand new interface to what's happening at Burning Man, built from the ground up for 2014.</p>
                    <ul class="features-list">
                        <li>Easily search for anything by name.</li>
                        <li>Browse for events near you.</li>
                        <li>Filter events by category and expiration.</li>
                        <li>Add anything to your favorites by swiping right. (long-press on Android)</li>
                        <li>Quickly see how long it takes to walk anywhere.</li>
                        <li>Colorful cues to warn you if an event is ending soon.</li>
                    <ul>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/events-screen.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Free and Open Source</h2>
                    <p class="lead">We believe in the power of free and open source software. The full source code to the <a href="https://github.com/burning-man-earth/iburn-ios">iOS</a> and <a href="https://github.com/burning-man-earth/iburn-android">Android</a> apps is available on GitHub under the <a href="https://www.mozilla.org/MPL/2.0/">MPL 2.0.</a><br><br>Want to get involved? Feel free to send us a pull request!</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/github-octocat.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Help us improve iBurn:</h2>
                </div>
                <div class="col-lg-6">
                    {% include social_buttons.html list_class="banner-social-buttons" %}
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">Copyright &copy; <a href="https://github.com/chrisballinger">Chris Ballinger</a> 2014. <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.<br>
                    Header image by <a href="https://www.flickr.com/photos/stuckincustoms/6960953088/">Trey Ratcliff</a>. Template from <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
