---
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body>
    <!-- Header -->
    <div class="intro-header">

        {% include intro_header.html %}    

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Accurate Offline Map</h2>
                    <p class="lead">Navigate all 3,600 acres of Playa with confidence.<br> <small>(Hey Art Boats : That's 4.27 Square Nautical Miles)</small></p>

                    <p class="lead">Find every Toilet, Ranger Station and Medical area. Just in case.</p>

                    <p>Psst! We make <a href="https://github.com/iBurnApp/iburn-maps">our own map tiles</a> and we love to share.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/ipad.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Intelligent Event Guide</h2>

                    <p class="lead">Know (almost) everything that's happening around you.</p>

                    <p class="lead">Swifly navigate Black Rock City's 2,300 events by date, type and place.</p>

                    <p class="lead">Find walk and bike times to anywhere. Mutant Vehicle Mass Transit Directions coming soon ;)</p>

                    <p class="lead">Mark your favorites and never forget about that Bacon Breakfast.</p>
                    
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/events-screen-android.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Free and Open Source</h2>
                    <p class="lead">We believe in the power of free and open source software. The full source code to the <a href="https://github.com/iBurnApp/iburn-ios">iOS</a> and <a href="https://github.com/iBurnApp/iburn-android">Android</a> apps is available on GitHub under the <a href="https://www.mozilla.org/MPL/2.0/">MPL 2.0.</a><br><br>Want to get involved? Feel free to send us a pull request!</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/github-octocat.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    {% include banner_footer.html %}

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
