<div class="container">   
    <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1 style="text-shadow:none">iBurn 2022</h1>
                    <h2 style="text-shadow:none">Offline Map and Guide to Burning Man</h2>
                    <hr class="intro-divider">
                    <h3 style="text-shadow:none">Yes, we'll be back for 2022!</h3>
                    <h4 style="text-shadow:none">Follow us on <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a> or <a href="https://www.facebook.com/{{ site.facebook_page }}">Facebook</a> for updates.</h4>
                    
                    <hr class="intro-divider">
                    <ul class="list-inline app-download-buttons">
                        <li>
                            <a href="https://itunes.apple.com/us/app/iburn/id388169740"><img src="/img/appstore.svg" height="40px" alt="iBurn on iOS App Store"></a>
                        </li>
                        <li>
                            <a href="https://play.google.com/store/apps/details?id=com.iburnapp.iburn3"><img src="/img/playstore.svg" height="45px" alt="iBurn for Android on Google Play"></a>
                        </li>
                    </ul>
                    <hr class="intro-divider">
                    {% include social_buttons.html list_class="intro-social-buttons" %}
                </div>
            </div>
        </div>

    </div>
</div>
