<div class="container">   
    <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1 style="text-shadow:none">iBurn 2015</h1>
                    <h4 style="text-shadow:none">Offline Map and Guide to Burning Man</h4>
                    <h3 style="text-shadow:none">iOS submitted to App Store! Waiting for review...</h3>
                    <h3 style="text-shadow:none">2015 Android Beta <a href="https://play.google.com/apps/testing/com.gaiagps.iburn">now open!</a></h3>
                    
                    <hr class="intro-divider">
                    <ul class="list-inline app-download-buttons">
                        <li>
                            <a href="https://itunes.apple.com/us/app/iburn-2014-offline-burning/id388169740"><img src="/img/appstore.svg" height="40px" alt="iBurn on iOS App Store"></a>
                        </li>
                        <li>
                            <a href="https://play.google.com/store/apps/details?id=com.gaiagps.iburn"><img src="/img/playstore.svg" height="45px" alt="iBurn for Android on Google Play"></a>
                        </li>
                    </ul>
                    <hr class="intro-divider">
                    {% include social_buttons.html list_class="intro-social-buttons" %}
                </div>
            </div>
        </div>

    </div>
</div>
